html {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #ededeb;
    background-position:center;
    margin-top: 0px;
  }
  
  body {
      margin: auto;
      background-position: bottom center;
      background-repeat: no-repeat;
      width: 950px; z-index:1;background-color:#fff;
  }

  
    
  a {
     color: #751281;
     text-decoration: none;
  }
  
  a:hover {
     color: #a10048;
     text-decoration: none;
  }  

  .MesaBillar {
    width: 60%;
    height: 60%;
    
  }

  
