html {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #ededeb;
    background-position:center;
    margin-top: 0px;
  }
  
  body {
      margin: auto;
      background-image: url(/img/footer.jpg);
      background-position: bottom center;
      background-repeat: no-repeat;
      width: 950px; z-index:1;background-color:#fff;
  }
    
  #principal{
      background-image: url(/img/header.png);
      background-position: top center;
      background-repeat: no-repeat;
      width: 950px;
      margin-bottom:-10px;
      margin: 0 auto;
  }
  
  #idioma{height: 80px; width: 380px; /*float:left;*/ margin-top: 20px; margin-right: 25px; float: right; font-size: .9em}
  #barra-superior { /*float: right;*/ text-align: left;  margin:0px 10px 0 0px; border: 0px solid #333; }
  #barra-superior ul { list-style:none outside none; margin: 0; padding: 0; float: right; border: 0px solid #000; }
  #barra-superior ul li { display: inline; list-style-type: none; margin: 0em; padding: 0em 0em 0em 0em; color: silver}
  #barra-superior a { text-decoration: none; color: #666666; }
  #barra-superior a:hover { text-decoration: none; color: #751281; border-bottom: 0px}
  
  #searchbox {
      margin-top: 16px;
      float: right; 
      margin-right: 10px;
  }
  .form-set{
      padding-bottom:0px;
      overflow:hidden;
  }
  
  .form-label{
      font-size:12px;
      font-weight:bold;
  }
  
  form .input-text {
      border: 1px solid silver;
      margin-top: 6px;
      margin-bottom: 6px
  }
  
  form .submit-button {
      border: 1px solid silver
  }
  
  #img_principal{
      height:320px
  }
    
  a {
     color: #751281;
     text-decoration: none;
  }
  
  a:hover {
     color: #a10048;
     text-decoration: none;
  }  
  
  #HEADER {
      width: 948px;
      height: 115px;
      margin: auto;
      position: relative; 
      border-top: 20px solid #0077AA;    
  }
  
  #HEADER_IN {
  width: 882px;
  position: relative;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #0077aa;
  margin: auto;
  }
  
  #STRUCTURE {
      z-index:-10;
      width: 882px;
      border: 1px solid #e4e5e4;
      margin: auto;
      padding: 5px;
      background-color: #fff;
      border-radius: 5px;
      -moz-border-radius:5px;
      -webkit-border-radius: 5px; 
  }
  
  #CONTENT {
      width: 882px;
      position: relative;
      overflow: hidden;
      border: 0px solid #0089FF;
      margin: auto; 
  }
  
  #carneticon {
  display: inline;
  float: right;
  top: -33px;
  position: relative;
  margin-right: 8px;
  height: 35px;
  max-height: 0;
  }
  
  #rssicon {
  display: inline;
  float: right;
  top: -25px;
  position: relative;
  margin-right: 8px;
  height: 19px;
  max-height: 19px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  }
  
  #CONTENT_BODY {
      background-color: #fff;
      position: relative;
      float: left;
      /*    border: 1px solid #75C403;*/
      margin-top: 6px;
      width: 882px; 
  }
  
  #FOOTER {
      position:relative;
      width: 948px;
      height:100px;
      margin: auto; 
  }
  
  #FOOTER a:hover {
      border-bottom:0px;
  }
  
  #FOOTER_IN {
  background-color: white;
  border: 0px solid #0089FF;
  margin: 5px;
  margin-top: 10px;
  }
  
  #banners {
  text-align: center;
  width: 100%;
  }
  
  .creditos a{
      color:#777;
      text-decoration:none;
      padding-left:5px;
  }
  .creditos a:hover{
      text-decoration: none; color: #751281; border-bottom: 0px
  }
  .creditos {
       margin: 10px;
      position:absolute;
      bottom:-5px;
      width:904px;
      text-align:right;
      font-size: .9em; 
  }
  .social
  {
      display:inline;
      position:relative;
      left: 70%;
      top: 30%;
      right:30px;
      bottom:40px;
  }
  
  #ti{
      display:block;
      height: 73px;
      padding-left: 150px;
      background: url("../img/blason.png") no-repeat;
      position:absolute;
      left:30px;
      bottom:4px;
      font-size: .9em;
      padding-top: 10px;
      color: #666666;
      cursor: pointer
  }
  #uach {
    background: url("../img/blason_2.png") no-repeat;
    text-indent: -999%;
    width: 197px;
    height: 271px;
    position: absolute;
    left: 60px;
    top:-20px;
    z-index:999; 
    }
  
  .nav-main {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
  
  #menu {
      width: 100%;
      margin: auto;
      padding: 0px;
      height: 37px;
      font-size: 11px;
      font-weight: normal;
      background-color: #0077aa;
      color: white;
  }
  
  #menu li {
    border-color: #00aef8;
    border-style: solid;
    border-width: 0 1px 0 0;
    display: inline-block;
    margin: 0 -1px;
    padding: 11px 8px;  
  }
  
  #menu li:hover {
    background-color: #00aef8;
    border-width: 0px 1px 0px 0px;
    color: #333;
  }
  
  #menu li ul {
    background-color: #00aef8;
    color: #fff;
    margin-top: 13px;
    display: block;
    border:none;
    margin-left: -10px;
    width: 86%; 
    margin-bottom:-20px;}
  
  #menu li ul li {
    display: block;
    margin: 0px -4px 0px -40px;
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border:none;
    background-color: #0077AA; }
  
  
  #menu li ul li:hover{
   background-color: #00aef8;
  }
  
  #menu a {
    color: #fff;
    text-decoration:none; 
  }
  
  input#query {
    width: 150px; 
  }
  
  input.button {
    width: 20px;
    display: inline-block; 
  }
  
  #noticias, #eventos, #destacado {
    margin: 0px 7px 2px 2px; 
  }
  
  #noticia_principal {
   height: 280px;
   max-height: 280px;
   margin-top: -15px;
   cursor: pointer;
   background-repeat: no-repeat
  }
  
  #principal_header {
    background-color: #0077AA;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    left: 28px;
    padding: 12px;
    position: relative;
    top: 60%;
    width: 35%;
  }
  
  #noticias p {
    border-bottom: 1px dotted silver;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -4px;
    padding-bottom: 6px;
    padding-top: 0;
  }
  
  
  
  .destacadoh4 {
    margin-bottom: 0px; 
    font-weight: normal;
    padding-bottom: 0px
  }  
  
  .seccionh {
    width: 414px;
    height: 352px;
    float: left;
    /*    border: 1px solid #e3e3e3;*/
    min-height: 300px;
    padding: 3px;
    box-shadow: 0px 2px 5px #c9c9c9;
    -webkit-box-shadow: 0px 2px 5px #c9c9c9;
    -moz-box-shadow: 0px 2px 5px #c9c9c9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  
    .seccionh h3 {
      background-image: url(/img/b3-largo.jpg);
      width: 414px;
      max-width: 414px;
      display: block;
      overflow: hidden;
      margin: 0px;
      height: 30px;
      color: #333;
      padding-left: 0px;
      text-shadow: #fff 0px 1px 3px;
      font-size: 13px;
      text-indent: 37px;
      line-height: 29px; 
  }
  .seccion {
    width: 207px;
    height: 352px;
    float: left;
    /*    border: 1px solid #e3e3e3;*/
    min-height: 300px;
    padding: 3px;
    box-shadow: 0px 2px 5px #c9c9c9;
    -webkit-box-shadow: 0px 2px 5px #c9c9c9;
    -moz-box-shadow: 0px 2px 5px #c9c9c9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  .seccion2x {
    width: 428px;
    height: 352px;
    float: left;
    /*    border: 1px solid #e3e3e3;*/
    min-height: 300px;
    padding: 3px;
    box-shadow: 0px 2px 5px #c9c9c9;
    -webkit-box-shadow: 0px 2px 5px #c9c9c9;
    -moz-box-shadow: 0px 2px 5px #c9c9c9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
    .seccion2x h3 {
      background-image: url(/img/b3-large.jpg);
      width: 428px;
      max-width: 428px;
      display: block;
      overflow: hidden;
      margin: 0px;
      height: 30px;
      color: #333;
      padding-left: 0px;
      text-shadow: #fff 0px 1px 3px;
      font-size: 13px;
      text-indent: 37px;
      line-height: 29px; 
  }
  
    .seccion h3 {
      background-image: url(/img/b3.jpg);
      width: 207px;
      max-width: 207px;
      display: block;
      overflow: hidden;
      margin: 0px;
      height: 30px;
      color: #333;
      padding-left: 0px;
      text-shadow: #fff 0px 1px 3px;
      font-size: 13px;
      text-indent: 37px;
      line-height: 29px; 
  }
    .seccion ul {
      margin-left: -35px; 
    }
  
  
  .leermas a {
    color: #FFC000;
    text-decoration: none; 
  }
   
  .leermas {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
    background-color: #222;
    color: #fff;
    display: block;
    position: absolute;
    bottom: 5px;
    width: 207px; 
  }
  .leermash a {
    color: #FFC000;
    text-decoration: none; 
  }
  .leermash {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
    background-color: #222;
    color: #fff;
    display: block;
    position: absolute;
    bottom: 5px;
    width: 414px; 
  }